body{
    background-image: url("background.jpg");
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}

.conteiner{
    
    width: 960px auto;
    color: white;
    margin-right: 100px;
}

header{
    text-align: center;
}


header,footer{
    background-image: url("background.jpg");
    padding: 15px;


}

aside{
    width: 15%;
    float: left;
    box-sizing: border-box;

}

    
ul{
    list-style-type: none;
}

aside li{
    margin-bottom: 60px;

    text-align: center;
    font-family: 'Dancing Script';
}


aside nav ul li a {
    display: block;
    padding: 15px 18px;
    color:rgb(8, 8, 8);
    font-size: 50px;
}

a:hover{
    background-color: rgb(207, 42, 42);
}


main{
    width: 85%;
   background-color: rgb(8, 8, 8);
    font-size: 30px;
    color: white;
    float: right;
    box-sizing: border-box;
    padding: 30px;
 }
 #pupin-image{
     float: left;
     width: 400px;
     padding: 30px;
 }

footer{
    clear: both
}

    


h1{
    text-align: center;
    padding: 16px;
    color: rgb(207, 42, 42);
    font-family: 'Dancing Script';
}









